.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.box {
  margin-bottom: 20px;

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 12px;
    color: #1e1e1e;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #5c8c7c;
    cursor: pointer;
  }

  p {
    font-family: Roboto Flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    color: #1e1e1e;
  }
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  hr {
    flex: 1;
    border: 1px solid #5c8c7c80;
  }

  span {
    padding: 0 10px;

    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #1e1e1e;
  }
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: Hug (47px);
  padding: 10px, 24px;
  border-radius: 4px;
  border: 1px;
  gap: 8px;
  border: 1px solid #5c8c7c80;

  //styleName: Desktop/BUTTON/Button Large;
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1e1e;
  cursor: pointer;

  .img {
    width: 24px;
    height: 24px;
    margin-right: 2px;
  }
}
