<div class="info-box md:max-w-[70%] max-w-[100%]">
  <h2>BonTex - ваш шлях до комфорту та стилю</h2>

  <div class="box">
    <p class="mb-8">
      Ми - молода та динамічна команда, яка прагне зростати та вдосконалюватися
      щодня завдяки вам - нашим шанованим клієнтам. <br />
      У нашому інтернет-магазині "BonTex" ви знайдете тільки найкращі килимки
      для дитячої кімнати та всього дому. Наш асортимент включає різноманітні
      килими для всього дому, щоб створити комфорт та затишок у вашій оселі!
    </p>
    <p class="mb-8">
      Ми віримо, що кожен домашній інтер'єр має бути особливим. Тому наші
      килимки не лише виконують практичні функції,але й додають відчуття тепла
      та стилю вашому простору.<br />Заходьте до "BonTex" за атмосферними
      килимками, які не лише прикрасять ваш будинок, але й створять неповторний
      комфорт. Ми завжди тут, щоб надавати вам найкращі рішення для вашого
      затишку та задоволення. Дякуємо за ваш вибір "BonTex"!
    </p>
  </div>

  <div class="grid md:grid-cols-3 grid-cols-1 gap-5 mb-10">
    <div class="about-us-box">
      <div [innerHTML]="safeSvgCodes['rugs']" class="mr-4"></div>
      <span>Великий вибір килимів для вашої оселі</span>
    </div>

    <div class="about-us-box">
      <div [innerHTML]="safeSvgCodes['car']" class="mr-4"></div>
      <span>Великий вибір килимів для вашої оселі</span>
    </div>

    <div class="about-us-box">
      <div [innerHTML]="safeSvgCodes['phoneBig']" class="mr-4 w-6 h-5 fill-[#5C8C7C]"></div>
      <span>Великий вибір килимів для вашої оселі</span>
    </div>
  </div>
</div>
