<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="content-box">
  <div class="flex mb-10">
    <h2>Пароль</h2>
  </div>

  <div class="flex flex-col">
    <label for="password">Пароль:</label>
    <input
      class="form-field px-3 w-[345px] mb-4"
      type="text"
      id="password"
      formControlName="password"
      placeholder="{{ user?.password || '********' }}"
    />
  </div>

  <div class="flex">
    <app-button
      label="Скасувати"
      additionalClasses="secondary my-4 mr-4"
      routerLink="/user/password"
    ></app-button>

    <a type="submit" (click)="onSubmit()">
      <app-button
        [label]="'Зберегти'"
        [additionalClasses]="'primary my-4'"
        [isDisabled]="passwordForm.invalid"
      ></app-button>
    </a>
  </div>
</form>
