.a-button {
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fafafa;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fafafa;
    transition: 0.3s;
  }

  &:hover:after {
    width: 100%;
  }

  .svg-box{
    width: 25px;
    height: 25px;
    fill: #fafafa;
    margin-right: 8px;
  }

  &.secondary{
    color: #5c8c7c;
    fill: #5c8c7c;

    &:after{
      background-color: #5c8c7c;
    }
  }
}
