<div class="flex flex-col md:flex-row md:my-[120px] my-10">
  <div class="flex flex-col md:mb-10 mb-3 md:ml-0">
    <h2 class="component-title w-full text-center md:text-left mb-4 md:mb-0">Про магазин</h2>

    <p class="component-p mb-2">
      Магазин килимів BonText - це місце, де краса та якість переплітаються в
      чарівних візерунках кожного килима. Наша молода команда працює з
      ентузіазмом і завжди прагне стати кращою для наших шановних клієнтів.
    </p>

    <p class="component-p mb-2">
      Ми спеціалізуємося на дитячих килимах з України та Туреччини, де кожен
      килим - це казка під ногами вашої дитини. У асортименті магазину BonTex ви
      знайдете різноманітність стилів, кольорів та дизайнів, що відображають
      найкращі традиції обох країн.
    </p>

    <p class="component-p mb-2">
      Що б ви не шукали – яскраві та грайливі чи неймовірно ніжні та елегантні
      килими, у нас є щось особливе для кожного маленького шанувальника комфорту
      та краси. Завітайте до нашого магазину та переконайтеся у цьому!
    </p>
  </div>

  <img
    src="{{ imgPath + 'about-shop.png' }}"
    alt="about-shop"
    class="flex ml-0 md:ml-4 w-full mt-3 md:mt-0"
  />
</div>
