.info-box {
  padding: 0px 12px;

  h2 {
    font-family: Roboto Flex;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C8C7C;
    margin-bottom: 40px;
  }

  .box {
    margin-bottom: 32px;

    h3 {
      font-family: Roboto Flex;
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      color: #5C8C7C;
      margin-bottom: 12px;
    }

    p, ol {
      font-family: Roboto Flex;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;

      b {
        font-weight: 600;
      }
    }
  }
}

ol{
  list-style-type: decimal;
  color: #5C8C7C;
  padding-left: 16px;
}
