.dvs-form-control {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
    font-weight: 600;
    padding: 8px 0;
  }

  select {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #665959;

    &.hasError {
      border: 2px solid red;
    }
  }
}
