<div class="mt-10">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div
        class="first-banner flex items-center justify-center overflow-hidden md:h-auto h-[260px] min-h-40 bg-slate-300"
      >
        <img
          src="{{ imgPath + 'slide1.png' }}"
          alt="slide"
          class="flex md:scale-100 scale-[2.5]"
        />

        <div class="overlay flex flex-col justify-center items-center">
          <h2 class="mb-10 px-2 text-center md:text-left">
            BonTex - ваш шлях до комфорту та стилю
          </h2>

          <app-button
            [label]="'Перейти до каталогу'"
            [additionalClasses]="'primary px-4 py-3'"
            [routerLink]="'/'"
          ></app-button>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="first-banner flex items-center justify-center overflow-hidden md:h-auto h-[260px] min-h-40 bg-slate-300"
      >
        <img
          src="{{ imgPath + 'slide1.png' }}"
          alt="slide"
          class="flex md:scale-100 scale-[2.5]"
        />

        <div class="overlay flex flex-col justify-center items-center">
          <h2 class="mb-10 px-2 text-center md:text-left">
            BonTex - ваш шлях до комфорту та стилю
          </h2>

          <app-button
            [label]="'Перейти до каталогу'"
            [additionalClasses]="'primary px-4 py-3'"
            [routerLink]="'/'"
          ></app-button>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="first-banner flex items-center justify-center overflow-hidden md:h-auto h-[260px] min-h-40 bg-slate-300"
      >
        <img
          src="{{ imgPath + 'slide1.png' }}"
          alt="slide"
          class="flex md:scale-100 scale-[2.5]"
        />

        <div class="overlay flex flex-col justify-center items-center">
          <h2 class="mb-10 px-2 text-center md:text-left">
            BonTex - ваш шлях до комфорту та стилю
          </h2>

          <app-button
            [label]="'Перейти до каталогу'"
            [additionalClasses]="'primary px-4 py-3'"
            [routerLink]="'/'"
          ></app-button>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div
        class="first-banner flex items-center justify-center overflow-hidden md:h-auto h-[260px] min-h-40 bg-slate-300"
      >
        <img
          src="{{ imgPath + 'slide1.png' }}"
          alt="slide"
          class="flex md:scale-100 scale-[2.5]"
        />

        <div class="overlay flex flex-col justify-center items-center">
          <h2 class="mb-10 px-2 text-center md:text-left">
            BonTex - ваш шлях до комфорту та стилю
          </h2>

          <app-button
            [label]="'Перейти до каталогу'"
            [additionalClasses]="'primary px-4 py-3'"
            [routerLink]="'/'"
          ></app-button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
