.form-control {
  width: 100%;

  input {
    width: 100%;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 8px;
    outline: none;

    &.hasError {
      border: 2px solid red;
    }
  }

  img {
    cursor: pointer;
  }

  h4 {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
    margin-bottom: 4px;
  }

  &.secondary {
    input {
      border: 1px solid #737776
    }
  }
}
