<div class="products grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
  <app-product-card
    *ngFor="
      let product of products
        | paginate : { itemsPerPage: 9, currentPage: p, totalItems: total }
    "
    [product]="product"
  >
  </app-product-card>

  <div class="flex w-full justify-center col-span-1 lg:col-span-2 xl:col-span-3">
    <pagination-controls
      class="my-pagination"
      (pageChange)="pageChangeEvent($event)"
      [maxSize]="9"
      [autoHide]="true"
      [responsive]="true"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
