<div class="flex items-center w-full px-3 mx-4">
  <div class="flex flex-col md:w-[440px] w-full m-auto">
    <h2 class="modal-title">Реєстрація</h2>

    <div class="flex box">
      <span>Вже є аккаунт?</span>
      <a routerLink="/auth/login">Авторизуватися</a>
    </div>

    <form [formGroup]="formGroup">
      <div class="flex flex-col">
        <div class="flex justify-center my-4">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="text"
              label="Hello"
              inputId="name"
              paceholder="world"
              formControlName="name"
              [customErrorMessages]="errorMessages"
            />
          </div>
        </div>

        <div class="flex justify-center my-4">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="email"
              label="email"
              inputId="email"
              paceholder="email"
              formControlName="email"
              [customErrorMessages]="errorMessages"
            />
          </div>
        </div>

        <div class="flex justify-center my-4">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="password"
              label="password"
              inputId="password"
              paceholder="password"
              formControlName="password"
              [customErrorMessages]="errorMessages"
            />
          </div>
        </div>

        <div class="flex w-full justify-center">
          <app-button
            [label]="'Регістрація'"
            [additionalClasses]="'primary my-4 md:w-[440px] w-full'"
            (buttonClick)="onSubmit()"
            [isDisabled]="formGroup.invalid"
          ></app-button>
        </div>
      </div>
    </form>

    <div class="line-container mb-4">
      <hr />
      <span>або увійти через</span>
      <hr />
    </div>

    <div class="flex justify-between">
      <a class="social-button px-4 py-3 w-[45%]">
        <div [innerHTML]="safeSvgCodes['facebook']" class="img"></div>
        Facebook
      </a>

      <a class="social-button px-4 py-3 w-[49%]">
        <div [innerHTML]="safeSvgCodes['google']" class="img"></div>
        Google
      </a>
    </div>
  </div>
</div>
