.modal-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;left: 0;
  background-color: #00000075;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.modal {
  width: 520px;
  min-height: 300px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fcfffe;
  position: relative;

  .close-modal {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    img {
      z-index: 100;
      position: relative;

      &.hidden {
        display: none;
      }
    }

    .loader {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #5c8c7c;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      &.hidden {
        display: none;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 3;
        background-color: #5c8c7c;
      }

      &:before {
        left: 0;
        animation: spin_mask_left 10s steps(1, end) forwards;
      }

      &:after {
        right: 0;
        background-color: #fff;
        animation: spin_mask_right 10s steps(1, end) forwards;
      }

      .line {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        animation: spin 10s 1 linear forwards;
        z-index: 2;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background-color: #fff;
        }
      }
    }

    .body {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      z-index: 8;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @keyframes spin {
    0% {
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin_mask_left {
    0% {
      visibility: visible;
    }
    50%,
    100% {
      visibility: hidden;
    }
  }

  @keyframes spin_mask_right {
    0% {
      visibility: hidden;
    }
    50%,
    100% {
      visibility: visible;
    }
  }
}
