<div class="content-box">
  <div class="flex mb-10">
    <h2>Пароль</h2>
    <div class="svg flex items-center ml-1 cursor-pointer" routerLink="edit">
      <span [innerHTML]="safeSvgCodes['pen']"></span>
    </div>
  </div>

  <div class="flex mb-4">
    <div class="grid grid-cols-2">
      <div class="subtitle">
        <h5>Поточний пароль:</h5>
      </div>

      <div class="flex">
        <input
          class="b-1 border-black px-3 w-[345px] pointer-events-none"
          [type]="hidePassword ? 'password' : 'text'"
          readonly
          id="password"
          formControlName="password"
          [disabled]="true"
          [value]="user?.password || '********'"
        />

        <div class="flex">
          <button
            [innerHTML]="safeSvgCodes[hidePassword ? 'showPass' : 'hidePass']"
            (click)="togglePasswordVisibility()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
