.button {
  height: 46px;
  padding: 10px 24px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;

  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: center;

  /* min-width: 223px; */

  fill: #fafafa;

  &:hover {
    background: #5c8c7c;
  }

  &.inverted {
    color: #1e1e1e;
    fill: #1e1e1e;
    background: none;

    &:hover {
      background: #5c8c7c;
      color: #fafafa;
      fill: #fafafa;
    }
  }

  &.secondary {
    border: 1px solid #737776;
    color: #84b4a4;
    fill: #84b4a4;
    background: none;

    &:hover {
      color: #5c8c7c;
      fill: #5c8c7c;
    }
  }

  &.primary, &.active {
    background: #84b4a4;
    color: #fafafa;
    fill: #fafafa;
  }

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    background: #d1cece;
    cursor: not-allowed;
  }

  .button-icon {
    margin-right: 4px;
  }
}
