<div class="info-box md:max-w-[70%] max-w-[100%]">
  <h2>Умови обміну та повернення</h2>

  <div class="box">
    <h3>Строки повернення та обміну</h3>

    <p>
      <b
        >Компанія здійснює повернення та обмін товарів належної якості згідно
        Закону «Про захист прав споживачів»</b
      >. Повернення та обмін товарів можливий протягом <b>14 днів</b> після
      отримання товару покупцем.
    </p>
  </div>

  <div class="box">
    <h3>Умови повернення для товарів належної якості</h3>

    <p class="mb-2">
      Зворотня доставка товарів здійснюється за домовленістю.Повернення або
      обмін товару належної якості проводиться, якщо він не використовувався і
      якщо збережено його товарний вигляд і споживчі властивості. При виявленні
      заводського браку повернення або обмін за рахунок компанії. У разі
      повернення за бажанням клієнта (не шлюб) витрати на транспортування
      оплачує клієнт. При поверненні товару наступна виплата (повернення коштів)
      здійснюється протягом 3-х робочих днів на зазначений клієнтом рахунок.
    </p>

    <p>
      <b>Згідно із Законом «Про захист прав споживачів»</b>, компанія може відмовити
      споживачеві в обміні та поверненні товарів належної якості, якщо вони
      відносяться до категорій, що зазначені у чинному Переліку непродовольчих
      товарів належної якості, не підлягають поверненню та обміну.
    </p>
  </div>
</div>
