<div class="info-box md:max-w-[70%] max-w-[100%]">
  <h2>Умови доставки та оплати</h2>

  <div class="box">
    <h3>Вартість доставки</h3>

    <p>
      Відправлення замовлень <b>з понеділка по п'ятницю</b>;<br />
      відправлення замовлень, що надійшли до 17-00, здійснюється в цей же
      день;<br />
      пізніші замовлення відправляються на наступний робочий день.<br />
      Термін доставки по Україні, як правило, 1-2 робочі дні, у віддалені
      куточки нашої країни терміни доставки можуть бути більшими.<br />
      Найбільш популярний спосіб оплати товару – оплата при отриманні. Такий
      спосіб доставки є гарантією отримання товару. У цьому випадку Ви можете
      перевірити відповідність змісту посилки на Ваше замовлення та отримати
      товар при передачі грошей. Замовлення менше ніж 200 грн з оплатою при
      отриманні не надсилаються.
    </p>
  </div>

  <div class="box">
    <h3>Термін доставки</h3>

    <p>
      Термін доставки по Україні складає, як правило, 1-2 робочі дні;<br />
      у віддалені куточки нашої країни терміни доставки можуть бути більшими.
    </p>
  </div>

  <div class="box">
    <h3>Способи оплати</h3>

    <p>
      - <b>післяплата</b> (оплата при отриманні) у відділенні Нової Пошти при
      замовленні від 200 грн;<br />- <b>передплата на картку:</b> оплата рахунку
      в будь-якому відділенні Приватбанку або Monobank (переказ на картку).
      Сплатити можна й іншим зручним для Вас способом - за попередньою
      домовленістю з менеджером.
    </p>
  </div>

  <div class="box">
    <h3>Способи доставки</h3>

    <p>
      <b>Найбільш популярний спосіб оплати товару – оплата при отриманні.</b
      ><br />Такий спосіб доставки є гарантією отримання товару. У цьому випадку
      Ви можете перевірити відповідність змісту посилки на Ваше замовлення та
      отримати товар при передачі грошей. Замовлення менше ніж 200 грн з оплатою
      при отриманні не надсилаються.<br />
      <b>Рекомендований спосіб оплати та доставки - Нова Пошта.</b><br />Це
      найбільш швидкий та надійний спосіб отримати обраний товар. Відправлення
      здійснюється на найближчий склад компанії. Для цього на сайті транспортної
      компанії перегляньте список усіх складів у Вашому місті та виберіть той,
      де Вам найпростіше буде отримати товар та вкажіть це у примітці до
      замовлення. Доставка до дверей (кур'єром) можлива за тарифами обраної
      компанії та оплачується окремо.<br />Після відправки товару Вам
      повідомлять телефоном номер декларації та дату прибуття вантажу на склад
      компанії до Вашого міста. Як правило, надходить СМС повідомлення у момент
      прибуття товару на склад. З документом, що підтверджує особу (паспорт чи
      права) та номером декларації, необхідно прийти на склад транспортної
      компанії у своєму місті.<br />Як правило, відправка товару проводиться
      наступного дня після надходження замовлення (при оплаті післяплатою) або
      наступного дня після надходження грошей у робочі дні тижня. Якщо є
      можливість, ми відправляємо товар у день замовлення – уточніть у менеджера
      при замовленні можливість відправлення в день замовлення.
    </p>
  </div>
</div>
