<!-- компонент крихти -->
<h2 class="page-title">Дитячі килими Україна щільні</h2>

<div class="filters flex justify-between">
  <div class="flex">
    <span class="title flex mr-3">Обрано 10 товарів</span>

    <button class="filter-button reset">скасувати</button>

    <div class="selected-filters flex flex-wrap">
      <button class="filter-button">
        <span>скасувати</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>

      <button class="filter-button">
        <span>скасувати</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>

      <button class="filter-button">
        <span>234</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>

      <button class="filter-button">
        <span>скасувати dsf sdfsd f</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>

      <button class="filter-button">
        <span>скаати</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>

      <button class="filter-button">
        <span>скасувати wewed fsdf</span>
        <button
          class="close-button"
          [innerHTML]="safeSvgCodes['close']"
        ></button>
      </button>
    </div>
  </div>

  <form [formGroup]="formGroup">
    <div class="flex flex-col h-full items-end">
      <div class="flex justify-center mb-4">
        <div class="flex">
          <app-select
            class="w-full"
            selectId="filterSelect"
            [options]="options"
            formControlName="filterSelect"
          />
        </div>
      </div>

      <div class="flex justify-center m-4">
        {{ formGroup.value | json }}
      </div>
    </div>
  </form>
</div>

<div class="flex">
  <div class="filters-nav-bar flex">

    <form [formGroup]="filterByPriceGroup">
      <div class="by-price flex flex-col">
        <h4 class="label">Ціна</h4>

        <div class="flex items-center mb-4">
          <app-input
            class="w-[84px]"
            paceholder="0"
            additionalClasses="secondary"
            formControlName="minInp"
            inputId="minInp"
            [value]="getMinPrice()"
            (input)="inputPrices()"
          ></app-input>

          <span class="mx-1">-</span>

          <app-input
            class="w-[84px] mr-2"
            [paceholder]="price.max + '' || '20000'"
            additionalClasses="secondary"
            formControlName="maxInp"
            [value]="getMaxPrice()"
            (input)="inputPrices()"
          ></app-input>

          <app-button
            label="OK"
            additionalClasses="secondary"
            class="w-[84px]"
            (buttonClick)="onPriceFiltersSubmit()"
          ></app-button>
        </div>

        <div class="flex pr-2">
          <div class="rangeslider">
            <input
              class="min input-ranges"
              name="range_1"
              type="range"
              [min]="price.min"
              [max]="price.max"
              step="10"
              formControlName="min"
              (change)="updatePrices()"
            />
            <input
              class="max input-ranges"
              name="range_1"
              type="range"
              step="10"
              [min]="price.min"
              [max]="price.max"
              formControlName="max"
              (change)="updatePrices()"
            />
          </div>
        </div>
      </div>
    </form>

    <app-products [products]="productsToDisplay"></app-products>
  </div>
</div>
