<div class="nav-bar flex-col mr-14 hidden md:flex">
  <div>
    <a
      routerLinkActive="active"
      routerLink="catalog-info"
      class="flex items-center"
    >
      Каталог
    </a>
  </div>

  <div>
    <a
      routerLinkActive="active"
      routerLink="delivery-and-payments"
      class="flex items-center"
    >
      Доставка та оплата
    </a>
  </div>

  <div>
    <a
      routerLinkActive="active"
      routerLink="exchange-and-returns"
      class="flex items-center"
    >
      Обмін та повернення
    </a>
  </div>
  <div>
    <a
      routerLinkActive="active"
      routerLink="about-us"
      class="flex items-center"
    >
      Про нас
    </a>
  </div>
  <div>
    <a
      routerLinkActive="active"
      routerLink="contacts"
      class="flex items-center"
    >
      Контакти
    </a>
  </div>
  <div>
    <a
      routerLinkActive="active"
      routerLink="user-agreement"
      class="flex items-center"
    >
      Угода користувача
    </a>
  </div>
  <div>
    <a routerLinkActive="active" routerLink="faq" class="flex items-center">
      Питання та відповіді
    </a>
  </div>
  <div>
    <a
      routerLinkActive="active"
      routerLink="store-reviews"
      class="flex items-center"
    >
      Відгуки про магазин
    </a>
  </div>
</div>

<div class="dark-layer" [class.active]="!isClosedSubBar"></div>

<div class="tab-bar-sub-menu m-a" [class.closed]="isClosedSubBar">
  <div class="sub-menu">
    <div
      class="close-button"
      [class.slideUp]="!isClosedSubBar"
      (click)="toggleSubBar()"
    >
      <div class="vector"></div>
    </div>

    <div>
      <a
        routerLinkActive="active"
        routerLink="catalog-info"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Каталог
      </a>
    </div>

    <div>
      <a
        routerLinkActive="active"
        routerLink="delivery-and-payments"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Доставка та оплата
      </a>
    </div>

    <div>
      <a
        routerLinkActive="active"
        routerLink="exchange-and-returns"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Обмін та повернення
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="about-us"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Про нас
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="contacts"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Контакти
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="user-agreement"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Угода користувача
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="faq"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Питання та відповіді
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="store-reviews"
        class="custom-button w-full px-4 py-3 mb-2 flex"
        (click)="toggleSubBar()"
      >
        Відгуки про магазин
      </a>
    </div>
  </div>
</div>

<button
  (click)="toggleSubBar()"
  class="custom-button w-[-webkit-fill-available] primary px-4 py-3 mb-2 mx-3 z-[95] md:hidden flex"
>
  Меню Клієнтам
</button>
