.nav-bar {
  max-width: 250px;

  a {
    user-select: none;
    font-family: Roboto Flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
    cursor: pointer;
    transition: color 0.3s;
    padding: 8px 12px;
    border-radius: 4px;
    width: max-content;

    &.active {
      font-weight: 600;
      line-height: 24px;
      color: #5C8C7C;
    }

    .notifications-counter {
      content: attr(notifications-count);
      width: 20px;
      height: 20px;
      background: #84b4a4;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      color: #fff;
      margin-left: 12px;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dark-layer {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .5;
  width: 100vw;
  height: 100vh;
  z-index: 95;
  transition: .3s;
  display: none;

  &.active {
    display: block;
  }
}

.tab-bar-sub-menu {
  width: 100%;
  position: fixed;
  transition: .3s;
  bottom: 0;
  left: 0;
  z-index: 100;

  .sub-menu {
    position: relative;

    background-color: #fafafa;
    padding: 20px;

    .close-button {
      position: absolute;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      background-color: #fafafa;
      border-radius: 50%;
      padding: 22px;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #e0e0e0;
      }

      .vector {
        position: relative;
        width: 2px;
        height: 16px;
        background-color: #1e1e1e;
        transform: rotate(45deg);

        &:after {
          content: '';
          position: absolute;
          width: 3px;
          height: 16px;
          background-color: #1e1e1e;
          transform: rotate(90deg);
        }
      }
    }
  }
}

.closed {
  bottom: -100%;

  .close-button {
    animation: slideDown;
  }
}

.slideUp {
  animation: slideUp 0.7s ease-out 0.1s;
}

@keyframes slideUp {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  40% {
    transform: translateX(-50%) translateY(-20px);
  }

  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.custom-button {
  height: 47px;
  padding: 10px 24px;
  border-radius: 4px;
  transition: 0.3s;

  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1e1e;
  align-items: center;
  justify-content: center;
  min-width: 223px;

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    background: #d1cece;
  }

  &.primary,
  &.active,
  &:hover {
    background: #84B4A4;
    color: #fafafa;
  }
}

.secondary {
  border: 1px solid #84b4a4;
  color: #84b4a4;
  background: none;

  &:hover {
    color: #fafafa;
  }
}

.inverted {
  color: #1e1e1e;
  background: none;

  &:hover {
    background: #5c8c7c;
    color: #fafafa;
  }
}
