<div class="info-box md:max-w-[70%] max-w-[100%]">
  <h2>Питання та відповіді</h2>

  <div class="box">
    <h3>Чи близькі до реальності фотографії на сайті?</h3>

    <p>
      Ми намагаємося, щоб фотографії килимів, представлених на нашому сайті,
      були максимально близькі до реальності. Проте, відтінок килима може
      незначно відрізнятися в залежності від налаштувань Вашого монітора.
    </p>
  </div>

  <div class="box">
    <h3>Як вибрати ідеальний килим для мого простору?</h3>

    <p>
      Важливо враховувати розмір приміщення, стиль декору, а також функціональне
      призначення килима. Великі килими чудово пасують для простору вітальні,
      тоді як менші можуть бути ідеальними для спальні чи кабінету.
    </p>
  </div>

  <div class="box">
    <h3>Як доглядати за килимом, щоб він служив довше?</h3>

    <p>
      Регулярне пилососіння та обережне видалення плям допомагають зберігати
      килим у чистоті. Важливо також уникати впливу прямих сонячних променів та
      утримувати його від вологості.
    </p>
  </div>

  <div class="box">
    <h3>Як визначити якість килиму перед покупкою?</h3>

    <p>
      Звертайте увагу на матеріали, з яких виготовлений килим, тип та густина
      ворсу, а також спосіб фарбування. Відомі бренди та відгуки покупців також
      можуть служити орієнтиром.
    </p>
  </div>

  <div class="box">
    <h3>Як оформити повернення чи обмін килима?</h3>

    <p>
      Для повернення чи обміну товару, будь ласка, зв'яжіться з нашим
      обслуговуванням клієнтів протягом 14 днів з моменту отримання замовлення.
      Детальніше про умови повернення можна знайти у розділі "Політика
      повернення"
    </p>
  </div>

  <div class="box">
    <h3>
      Як вибрати килим, який підходить для оселі з дітьми чи домашніми
      тваринами?
    </h3>

    <p>
      Рекомендуємо обирати килими з високоякісних синтетичних матеріалів,
      оскільки вони легше чистяться та стійкі до зносу. Також варто враховувати
      колір, що легко приховує плями.
    </p>
  </div>
</div>
