@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h2.page-title {
  font-family: Roboto Flex;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  padding: 40px 0;
}

.custom-carousel {
  position: relative;
  display: block;

  .nav-box {
    overflow: hidden;
    overflow-x: auto;

    .nav {
      width: 100%;
    }

    &::-webkit-scrollbar-thumb,
    &::-o-scrollbar-thumb {
      display: none;
    }
  }

  .owl-nav {
    position: absolute;
    right: 0;
    top: -87px;
    display: block;

    & [class*="owl-"] {
      color: #1e1e1e;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      background-color: inherit;
      transition: 0.3s;
      opacity: 0.6;

      &:hover {
        background-color: inherit;
        opacity: 1;
      }

      .arrow-left {
        transform: rotate(180deg);
      }
    }
  }

  &.review-carousel {
    .owl-nav.disabled {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .custom-carousel {
    .owl-nav {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .nav-box {
    overflow: hidden;
    overflow-x: scroll;

    .nav {
      width: max-content;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    scrollbar-color: transparent;
  }
}

/* Braadcrumbs */
.p-breadcrumb {
  padding-left: 0px;
}
/* Braadcrumbs */

/* Pagination */
.ngx-pagination {
  display: flex;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;

  .pagination-previous,
  .pagination-next {
    a {
      border: none !important;
    }
  }

  .pagination-previous {
    &::before {
      content: "" !important;
    }
    a::before {
      content: "❮" !important;
    }
  }

  .pagination-next {
    a::after {
      content: "❯" !important;
    }

    &.disabled {
      a::after {
        content: "" !important;
      }
    }
  }

  .pagination-next.disabled:after {
    content: "" !important;
    display: inline-block;
    margin-left: 0.5rem;
  }

  a,
  button {
    color: #0a0a0a;
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 4px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  a {
    border: 1px solid #84b4a4;
    margin: 0 2px;
  }

  .current {
    background: #acdccc !important;
    color: #fafafa;
    cursor: default;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Pagination */
