<div class="container m-auto hidden lg:block">
  <header class="w-full flex items-center flex-col justify-between">
    <div class="top-section w-full">
      <div class="container m-auto flex items-center justify-between">
        <div routerLink="/" class="logo mr-4">
          <div [innerHTML]="safeSvgCodes['logo']"></div>
        </div>

        <nav>
          <a
            *ngFor="let link of links"
            href="#"
            routerLink="{{ link.path }}"
            [routerLinkActive]="['active']"
            [class.red]="link.path === '/catalog/promotions'"
            class="xl:mx-4 mx-3"
          >
            {{ link.title }}
          </a>
        </nav>

        <div class="controls flex">
          <div
            class="flex ml-3 xl:ml-5 relative"
            [routerLink]="['/user/orders']"
          >
            <div [innerHTML]="safeSvgCodes['cart']" class="button-header"></div>
            <div class="info flex items-center justify-center">2</div>
          </div>

          <div
            class="flex ml-3 xl:ml-5 relative"
            [routerLink]="['/user/selected']"
          >
            <div [innerHTML]="safeSvgCodes['like']" class="button-header"></div>
            <div class="info flex items-center justify-center">99</div>
          </div>

          <!-- if unautorised -->
          <div
            *ngIf="!authService.getUserIdFromStorage()"
            class="flex ml-3 xl:ml-5 relative"
          >
            <div
              [innerHTML]="safeSvgCodes['profile']"
              class="button-header"
              (click)="ngxSmartModalService.getModal('popupModal').open()"
            ></div>
          </div>

          <!-- if autorised user -->
          <div
            *ngIf="authService.getUserIdFromStorage()"
            [routerLink]="['/user']"
            class="flex ml-3 xl:ml-5 relative"
          >
            <a class="user-icon" alt="cart">{{ userFirstLetter }}</a>
            <div class="info flex items-center justify-center">21</div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="bottom-section py-4 xl:py-10 w-full flex items-center justify-between flex-col lg:flex-row"
    >
      <div class="categories-box">
        <app-button
          [safeSvg]="safeSvgCodes['catalog']"
          [label]="'Каталог товарів'"
          [additionalClasses]="'primary px-4 '"
        ></app-button>

        <ul class="categories">
          <li routerLink="catalog/">
            <app-a-button
              label="Всі килими"
              additionalClasses="secondary"
            ></app-a-button>
          </li>
          <li routerLink="catalog/rugs">
            <app-a-button
              label="Дитячі килими Україна м'які"
              additionalClasses="secondary"
            ></app-a-button>
          </li>
          <li routerLink="catalog/rugs-cz">
            <app-a-button
              label="Дитячі килими Україна щільні"
              additionalClasses="secondary"
            ></app-a-button>
          </li>
          <li routerLink="catalog/rugs-cz">
            <app-a-button
              label="Дитячі килими Україна круглі"
              additionalClasses="secondary"
            ></app-a-button>
          </li>
          <li routerLink="catalog/rugs-cz">
            <app-a-button
              label="Килими бавовняні Туреччина"
              additionalClasses="secondary"
            ></app-a-button>
          </li>
        </ul>
      </div>

      <app-search class="w-[400px]"></app-search>

      <div class="contacts flex flex-col">
        <div class="phone-number flex justify-between">
          <div [innerHTML]="safeSvgCodes['phone']" class="button-header"></div>
          <span> 097 328 58 54 </span>
        </div>
        <a href="">Замовити дзвінок</a>
      </div>
    </div>
  </header>
</div>

<!-- small screens -->
<div class="w-full m-auto block lg:hidden">
  <app-header-small-screens></app-header-small-screens>

  <app-mobile-tab-bar></app-mobile-tab-bar>
</div>

<!-- <div class="test">a</div> -->

<!-- <app-modal></app-modal> -->
